@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

*
{
	font-family: 'Cuprum', sans-serif;
}

h1
{
	font-family: 'Righteous', cursive;
	color: white;
}

h2
{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
	color: #7df9ff;

	font-size: 2.25em;
}

body
{
	background-color: #2a3439;
	padding-top: 80px;
}

.pageContent
{
	padding-top: 20px;
	margin: auto;
	text-align: center;
	width: 75%;
	color: white;

	font-size: 1.25em;
}

.pageHeader
{
	display: flex;
	text-align: center;
	position: relative;
	left: -8px;
	width: 100%;
	height: 300px;

	background: rgb(125,249,255);
	background: -moz-linear-gradient(315deg, rgba(125,249,255,1) 11%, rgba(255,227,2,1) 100%);
	background: -webkit-linear-gradient(315deg, rgba(125,249,255,1) 11%, rgba(255,227,2,1) 100%);
	background: linear-gradient(315deg, rgba(125,249,255,1) 11%, rgba(255,227,2,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7df9ff",endColorstr="#ffe302",GradientType=1); 
}

.pageHeader > div 
{
	margin: 0;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}

.pageHeader > div > h1
{
	font-size: 4em;
	text-shadow: 1px 0px 1px #AAA, 0px 1px 1px #CCC, 2px 1px 1px #AAA, 1px 2px 1px #CCC, 3px 2px 1px #AAA, 2px 3px 1px #CCC, 4px 3px 1px #AAA, 3px 4px 1px #CCC, 5px 4px 1px #AAA, 4px 5px 1px #CCC, 6px 5px 1px #AAA, 5px 6px 1px #CCC, 7px 6px 1px #AAA, 2px 2px 4px rgba(255,227,2,0);
	color: #F8F4FF;
	letter-spacing: 3px;
}

#headerLogo {
  max-height: 60px;
  padding: 12px 10px 8px 30px;
}

header{
	  position: absolute;
	  left: 0px;
	  top: 0px;
	z-index: 10;
}

header > ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffe302;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.15em;
}

header > ul > li {
  float: right;
}

header > ul > li a {
  display: flex;
  color: black;
  text-align: center;
  padding: 35px 40px;
  text-decoration: none;
}

header > ul > li a:hover:not(.active) {
  background-color: #f8f4ff;
}

header > ul > li > .active {
  background-color: #7df9ff;
}